:root {
  --color-line: linear-gradient(90deg, rgb(255, 138, 4), #000);
  --color-line2: linear-gradient(135deg, rgb(250, 9, 129), #000);
  --color-circle: linear-gradient(45deg, rgb(5, 230, 218), rgb(2, 24, 29));
  --icon-color: rgb(5, 230, 218);
  --main-background: linear-gradient(
    to bottom left,
    rgb(3, 15, 49),
    rgb(0, 0, 0)
  );
  --lg-padding: 7rem;
  --sm-padding: 5rem;
}
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::before {
  content: "";
  display: block;
  height: 4rem;
  background: #000;
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button a {
  color: #fff;
}
li {
  list-style: none;
}
button {
  padding: 10px;
  border-radius: 1rem;
  border: 2px solid #fff;
  background: var(--main-background);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 50;
}
.line {
  background: var(--color-circle);
  width: 5rem;
  height: 0.5rem;
  border-radius: 5px;
}

.container {
  width: 100vw;
  height: 100%;
  color: #fff;
  background: var(--main-background);
  box-sizing: border-box;
  overflow: hidden;
}
.container
.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 4rem;
  background: hsla(223, 95%, 7%, 0.925);
  top: 0;
  right: 0;
  align-items: center;
  padding: 1.5em 3em;
  overflow: hidden;
  z-index: 80;
  transition: all 0.3s linear;
}

.header .menu {
  display: flex;
  width: 100%;
}
.header .menu .logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header .menu .logo div:nth-child(1) a {
  color: #fff;
}

.header .menu .toggle {
  cursor: pointer;
}
.header .menu .toggle span {
  /* display: block; */
  width: 25px;
  height: 2px;
  background: #fff;
}
.toggle .one,
.toggle .two,
.toggle .three {
  display: block;
}

.header .menu .toggle .two {
  margin: 0.3rem 0;
}
.close {
  cursor: pointer;
}
.close .one {
  display: block;
  width: 25px;
  height: 2px;
  transform: rotate(45deg);
  background: #fff;
}
.close .two {
  display: none;
}
.close .three {
  display: block;
  width: 25px;
  height: 2px;
  transform: rotate(-45deg);
  background: #fff;
}
.menu .navbar {
  display: none;
}

.sidemenu {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
}

.header .sidemenu li {
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.3s linear;
}
.header .sidemenu one {
  margin: 0;
}
.header .sidemenu li a {
  margin: 2rem 0;
  color: #fff;
  transition: all 0.1s linear;
}
.header .sidemenu li a:hover {
  color: rgb(5, 230, 218);
}
.header .open li:hover {
  transform: scale(1.2);
}
.header .logo div:nth-child(1) {
  font-weight: 900;
  font-size: 1.2em;
}
.header .logo .color {
  color: rgb(5, 230, 218);
}

/* main style */

.main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100%;
  /* background: var(--main-background); */
  padding: var(--sm-padding);
  align-items: center;
  justify-content: center;
  border-bottom: navajowhite;
}
.main button {
  cursor: pointer;
  z-index: 100;
}
.main .quote-color {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 40%;
  top: 2%;
  border: none;
  background: var(--color-circle);
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  z-index: 10;
  color: #fff;
}
.main .quote-color .small {
  position: relative;
  display: flex;
  background: var(--main-background);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  align-items: center;
  padding-left: 10px;
}
.main .quote-color .small .quote-text {
  position: absolute;
  width: 8rem;
  font-weight: 600;
  /* border: 1px solid #fff ; */
}
.main .image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .image-container .circle-background {
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--color-circle);
  width: 15rem;
  height: 15rem;
}
.main .image-container .img-box {
  width: 22rem;
  height: 22rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 10px  rgb(5, 230, 218);
}
.main .image-container .img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .text-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  z-index: 10;
  /* line-height: 1.5; */
}
.main .text-content h1 {
  color: rgb(5, 230, 218);
}
.max {
  max-width: 60%;
  text-align: center;
}
/* animated text */
.animated-t  {
  display: block;
  justify-content: flex-start;
}
.animated-t p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 5px 1px;
  align-items: flex-start;
}

.animated-t .word {
  position: absolute;
  opacity: 0;
  color: rgb(250, 9, 129);
  font-weight: bold;
  font-size: 1.3rem;
}

.animated-t .letter {
  display: inline-block;
  position: relative;
  /* float: left; */
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.animated-t .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.animated-t .letter.behind {
  transform: rotateX(-90deg);
}

.animated-t .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



/* social icons */
.social-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3rem;
  bottom: 30%;
  z-index: 50;
}

.social-icons span ion-icon {
  font-size: 2vmin;
  font-size: 3vmin;
  border: none;
  color: rgb(5, 230, 218);
  cursor: pointer;
}
.line1 {
  width: 5rem;
  height: 0.8rem;
  background: var(--color-line);
  border: none;
  border-radius: 2px;
}
.line2 {
  position: absolute;
  width: 0.8rem;
  height: 5rem;
  background: var(--color-line2);
  left: 2rem;
  bottom: 10px;
  border: none;
  border-radius: 2px;
}

.circle-center {
  position: absolute;
  right: 20%;
  top: 20%;
  border: none;
  background: linear-gradient(180deg, rgba(4, 245, 233, 0.61), rgb(0, 0, 0));
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  z-index: 10;
}

/* shooting star */
.night {
  position: absolute;
  width: 100%;
  height: 100%;
}

.shooting_star {
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - 147px);
  left: calc(50% - 293px);
  animation-delay: 3673ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
  animation-delay: 3673ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 14px);
  left: calc(50% - 231px);
  animation-delay: 4436ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
  animation-delay: 4436ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -121px);
  left: calc(50% - 164px);
  animation-delay: 8002ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
  animation-delay: 8002ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 38px);
  left: calc(50% - 50px);
  animation-delay: 7526ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
  animation-delay: 7526ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 43px);
  left: calc(50% - 10px);
  animation-delay: 5603ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
  animation-delay: 5603ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -150px);
  left: calc(50% - 68px);
  animation-delay: 2642ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
  animation-delay: 2642ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -53px);
  left: calc(50% - 250px);
  animation-delay: 160ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
  animation-delay: 160ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 65px);
  left: calc(50% - 90px);
  animation-delay: 63ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
  animation-delay: 63ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 165px);
  left: calc(50% - 235px);
  animation-delay: 5812ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
  animation-delay: 5812ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -10px);
  left: calc(50% - 129px);
  animation-delay: 9475ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
  animation-delay: 9475ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -14px);
  left: calc(50% - 8px);
  animation-delay: 1037ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
  animation-delay: 1037ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - 49px);
  left: calc(50% - 137px);
  animation-delay: 3623ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
  animation-delay: 3623ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -124px);
  left: calc(50% - 219px);
  animation-delay: 9846ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
  animation-delay: 9846ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -198px);
  left: calc(50% - 179px);
  animation-delay: 8043ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
  animation-delay: 8043ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -31px);
  left: calc(50% - 42px);
  animation-delay: 2222ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
  animation-delay: 2222ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -6px);
  left: calc(50% - 272px);
  animation-delay: 3059ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
  animation-delay: 3059ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -55px);
  left: calc(50% - 106px);
  animation-delay: 1811ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
  animation-delay: 1811ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 52px);
  left: calc(50% - 287px);
  animation-delay: 3254ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after {
  animation-delay: 3254ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 121px);
  left: calc(50% - 40px);
  animation-delay: 1287ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
  animation-delay: 1287ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - 150px);
  left: calc(50% - 16px);
  animation-delay: 4091ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
  animation-delay: 4091ms;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: rotate(30deg) translateX(0);
  }
  100% {
    transform: rotate(30deg) translateX(500px);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.about_me {
  position: relative;
  display: grid;
  background: rgb(3, 15, 49);
  width: 100vw;
  height: 100%;
  margin: 2rem 0;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about_me .about_content {
  position: relative;
  display: grid;
  grid-template-areas:
    'con con'
    'vid vid';
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--sm-padding);
  line-height: 1.5rem;

}
.about_me .vid-box {
  padding: 5px;
}
.about_content .about_content .content {
  grid-area: con;
}

.about_me .vid-box {
  grid-area: vid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.about_me video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_me .hd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_me .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.services .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services .content div {
  display: flex;
  flex-direction: column;
  height: 15rem;
  line-height: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(5, 230, 218);
  margin: 10px;
  padding: .5rem 1rem;
  border-radius: 0.8rem;
}
.services .content div h3 {
  margin-bottom: 15px;
}
.services .content div:hover {
  box-shadow: -5px 5px 30px rgba(4, 245, 233, 0.61),
    2px -2px 30px rgba(4, 245, 233, 0.61) inset;
  transform: scale(1.09);
}
.services p {
  text-align: center;
  color: #c2c2df;
  max-width: 90%;
}

.services span ion-icon {
  font-size: 2rem;
  border: none;
  color: rgb(5, 230, 218);
  cursor: pointer;
}
/*  project section */
.projects {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom left,
    rgba(3, 15, 49, 0.836),
    rgba(3, 15, 49, 0.836)
  );
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.projects .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  justify-content: center;
}
.projects .content > div {
  display: grid;
  /* height: 400px; */
  /* flex-direction: column; */
  line-height: 2rem;
  justify-content: center;
  margin: 1rem;
  padding: 1rem 1.2rem;
  border-radius: 0.8rem;
  background: rgb(1, 6, 22);
  box-shadow: -2px 1px 15px rgb(16, 36, 92),
         -5px 2px 30px rgb(16, 36, 92);
}

.projects .content button {
  display: flex;
  color: #fff;
  padding: 5px 10px;
  margin: 0.5rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.projects .content button:hover {
  background: transparent;
  color: #ffffff86;
  border-color: #ffffff83;
}
.projects .content .btn {
  display: flex;
  width: 100%;
  justify-content: center;
}
.projects .content button span {
  margin: 0 5px;
}
.projects span ion-icon {
  font-size: 1.2rem;
  border: none;
  color: #fff;
  cursor: pointer;
}
.contact {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
  justify-content: center;
}
.contact h2 {
  text-align: center;
}
.contact .get_in_touch {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.contact .get_in_touch h2 {
  color: rgb(5, 230, 218);
}
.contact a {
  display: flex;
  color: #fff;
  /* justify-content: center; */
  align-items: center;
}
.contact a ion-icon {
  font-size: 2vmin;
  font-size: 3vmin;
  border: none;
  color: rgb(5, 230, 218);
  cursor: pointer;
  margin-right: 1rem;
}

.contact .contact-page {
  display: flex;
  flex-direction: column;
}
.contact form {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-top: -0.5rem;
}
.contact form button {
  color: #fff;
  cursor: pointer;
}
.contact input {
  width: 100%;
  height: 2.2rem;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  padding: 2px 9px;
  /* box-shadow: ; */
}
.contact textarea {
  margin-top: 10px;
}
.container-icon {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  perspective: 1000px;
  transition: 0.5s;
}

/* animated email */
.animated-email {
  background: #d2d6eb;
  color: #000;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  display: grid;
  place-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s;
  transform: skewY(10deg);
  z-index: 9;
  box-shadow: 20px 30px 30px 0 #084fb6;
  animation: 2s moving linear infinite;
  /* animation: 1s animate linear infinite; */
}

.animated-email::before {
  content: "";
  position: absolute;
  background: #ece9eb;
  transition: 0.5s;
  top: -5px;
  left: 0px;
  width: 100%;
  height: 5px;
  transform-origin: bottom;
  transform: skewX(-45deg);
  border-radius: 10px 0px 0 0;
}

.animated-email::after {
  content: "";
  position: absolute;
  background: #b5bbd9;
  transition: 0.5s all ease-in-out;
  right: -5px;
  top: -5px;
  width: 5px;
  height: 100%;
  transform-origin: right;
  transform: skewY(-45deg);
  border-radius: 0 0 10px 0;
}

.front {
  backface-visibility: hidden;
}

.boxShadow {
  width: 2.6rem;
  height: 1rem;
  background: #d2d6eb;
  position: relative;
  top: -1px;
  transform-style: preserve-3d;
  transition: 0.5s all ease-in-out;
  transform: skewY(10deg);
  z-index: 9;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  box-shadow: 8px 20px 30px #084fb6;
}

.boxShadow {
  animation: 2s moving linear infinite;
}
@keyframes moving {
  0% {
    transform: skewY(10deg) translateY(-30px);
    box-shadow: none;
  }
  20% {
    transform: skewY(10deg) translateY(-20px);
    box-shadow: none;
  }
  40% {
    transform: initial;
    box-shadow: initial;
  }
  60% {
    transform: skewY(10deg) translateY(-30px);
    box-shadow: none;
  }
  80% {
    transform: initial;
    box-shadow: none;
  }
  100% {
    transform: initial;
    box-shadow: initial;
  }
}

.shadow {
  /* background: #1887e7; */
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: -40px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s;
  transform: rotatex(60deg);
  box-shadow: -2px 5px 1px 1px #2f94fb, 0 3px 0 1px #0263e3;
  animation: 2s moving linear infinite;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  border-top: 1px solid rgba(5, 230, 219, 0.767);
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: calc(100vh -20px);
  }
  .main .text-content {
    max-width: 80%;
    height: 100%;
  }
  .main .quote-color {
      right: 20%;
      top: 2%;
  }
  .main .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main .image-container .circle-background {
    position: absolute;
    width: 20rem;
    height: 15rem;
  }
  
  .main .image-container .img-box {
    width: 25rem;
    height: 25rem;
  }

  /* social icons */
  .social-icons {
    bottom: 10%;
  }
  .main .image-container .img-box {
    width: 15rem;
    height: 15rem;
  }
  .main .text-content {
    position: relative;
    display: initial;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    z-index: 10;
    /* line-height: 1.5; */
  }
.max {
  text-align: initial;
}
  .circle-center {
    width: 3.5rem;
    height: 3.5rem;
  }
  .main .quote-color {
    position: absolute;
    right: 50%;
    top: 2%;
  }
  .animated-t .p {
    margin-right: 10px;
  }

  .main .image-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
  }

  .main .image-container .circle-background {
    width: 10rem;
    height: 10rem;
  }


  /* navbar styling */
  .header .menu .toggle {
    display: none;
  }
  .menu .navbar {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .menu .navbar li {
    display: inline-block;
    margin-left: 1.2em;
    font-size: 1em;
  }
  .menu .navbar li a {
    color: rgb(161, 167, 252);
  }
  .menu .navbar li a:hover {
    color: rgb(5, 230, 218);
  }
  .menu .navbar li:hover {
    transform: scale(1.09);
  }
    .about_me .about_content {
      display: grid;
      grid-template-areas:
        'vid con'
        'vid con';
    
    }
      .about_content .about_content .content {
        grid-area: con;
      }
      
      .about_me .vid-box {
        grid-area: vid;
      }
      
      .about_me .vid-box {
        padding: 30px;
      }
      
      .about_me video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  .about_me .vid-box {
    display: flex;
    justify-content: center;
    padding: 30px;
    
  }
  .about_me .vid-box video{
    width: 100%;
    height: 100%;
  }

  .about_me .content{
    align-items: initial;
    text-align: initial;
    padding: initial;
  }
  .about_me button {
    width: 8rem;
  }
  .services .content {
    display: flex;
    flex-wrap: nowrap;
  }

  .projects .content > div {
    align-items: center;
    height: 400px;
  }
  .contact {
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
  }
  .circle-center {
    right: 50%;
    top: 40%;
  }
  .contact h2 {
    text-align: initial;
  }
  .header .sidemenu {
    display: none;
  }
  .header {
    height: 4rem;
  }
  .services .content div {
    height: 21rem;
    padding: 10px ;
  }
}

@media (min-width: 867px) {
  .main {
    padding: var(--lg-padding);
  }

}

.contact-page .content {
  display: flex;
}
@media(max-width: 768px){
    .line1 {
      display: none;
    }
}
@media (max-width: 470px) {
  .social-icons {
    right: 3rem;
    top: 40%;
    z-index: 20;
  }
}